{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
<!-- Hello! -->
<style type="text/css">
	#color-palette {
		width: 300px;
		background-color: #f1f1f1;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
	}

	.swatch {
		width: 24px;
		height: 24px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius: 12px;
		margin: 3px;
	}

	#myCanvas {
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
</style>

<script type="text/javascript" canvas="canvas">
	var pencil, marker, highlighter, eraser, fill, nothing;
	function undo() {};
	function redo() {};
	function getPicJSON() {};
	var canvas, saveCanvas;
	var mainScope, saveScope;
	window.onload = function() {
		canvas = document.getElementById('myCanvas');
		saveCanvas = document.getElementById("saveCanvas");
		mainScope = new paper.PaperScope();
		saveScope = new paper.PaperScope();
		function init(custom){
			saveScope.setup(saveCanvas);
			mainScope.setup(canvas);
			mainScope.activate();
			with(paper) {	
				var paths = [];
				var undonePaths = [];
				var picture = new Group();
				var curPath = null;

				function drawDown(event, color, width) {
					paths.push(new Path());
					curPath = paths[paths.length - 1];
					curPath.strokeColor = color;
					curPath.strokeWidth = width;
					curPath.strokeCap = 'round';
					curPath.strokeJoin = 'round';
				}

				function drawUp(event, closeDist) {
					if(event.point.getDistance(curPath.firstSegment.point) < closeDist) {
						curPath.closed = true;
						curPath.fill = true;
						curPath.fillColor = "red";
						curPath.fillColor.alpha = .0000001; //This is the best workaround I've ever devised. -Nicholas
					}
					picture.addChild(curPath);
					undonePaths = [];
				}

				pencil = new Tool();
				pencil.onMouseDown = function(event) {
					drawDown(event, "grey", 5);
				}
				pencil.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				pencil.onMouseUp = function(event) {
					drawUp(event, 20);
					console.log(picture.children);
				}

				fill = new Tool();
				fill.onMouseDown = function(event) {
					console.log("clicked fill");
					var hit = picture.hitTest(event.point, { tolerance: 10, segments: true, stroke: true, fill: true});
					if (hit) {
						if (hit.item.closed){
							hit.item.fillColor = "black";
						}
						
					} else {
						console.log("no hit")
					}
				}

				marker = new Tool();
				marker.onMouseDown = function(event) {
					drawDown(event, "black", 25);
				}
				marker.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				marker.onMouseUp = function(event) {
					drawUp(event, 40);
				}



				highlighter = new Tool();
				highlighter.onMouseDown = function(event) {
					drawDown(event, "yellow", 25);
					curPath.opacity = .7;
				}
				highlighter.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				highlighter.onMouseUp = function(event) {
					drawUp(event, 40);
					curPath.lastSegment.opacity = 0;
				}

				//TODO: Make Eraser tool
				eraser = new Tool();
				eraser.onMouseDown = function(event) {
					drawDown(event, "grey", 5);
				}
				eraser.onMouseDrag = function(event) {
					curPath.add(event.point);
				}
				eraser.onMouseUp = function(event) {
					drawUp(event, 20);
					console.log(picture.children);
				}
				nothing = new Tool();

				undo = function(){
					if (paths.length == 0){
						return;
					}
					var p = paths.pop();
					undonePaths.push(p.exportJSON());
					picture.removeChildren(picture.children.length - 1);
					p.remove();

				}
				redo = function(){
					if (undonePaths.length == 0) {
						return;
					}

					var p = undonePaths.pop();
					var np = new Path();
					np.importJSON(p);
					paths.push(np);
					picture.addChild(np);
				}
				getPicJSON = function(){
					var pic = project.exportJSON();
					// var pic = picture.exportJSON();
					return pic;
				}
			}
		}

		// Set up the mandala interactivity.
		init(true);
	}
</script>
</head>
<body style="overflow: hidden;">
	<div class="container-fluid" style="height: 100vh; background-image: url(./../static/coloring/images/pexels-fwstudio-172296.jpeg); background-size: 100% 100%;">
		<div class="row" style="padding-top: 0; margin-top: 0; height: 16.6vw">
			<div class="col-2 padButton" onclick="location.href = 'home';">
				<i class="bi bi-house-door-fill"></i>
			</div>
			<div class="col-2 padButton" onclick="undo()">
				<i class="bi bi-arrow-counterclockwise"></i>
			</div>
			<div class="col-2 padButton" onclick="redo()">
				<i class="bi bi-arrow-clockwise"></i>
			</div>
			<div id="saveButton" class="col-2 padButton" onclick="saveClick()">
				<i class="bi bi-save2-fill"></i>
			</div>
			<div class="col-4 colorButton">
				Select Color
			</div>
		</div>
		<div id="psheet">
			<canvas id="myCanvas" width="750px" height="750px" style="width: 87vw; height: 73vh;"></canvas>
		</div>
		
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content" style="width: 90%;">
				<div class="container-fluid" style="border-style: solid; border-width: .3vh;">
					<div class="row" style="font-size: 5vh; border-bottom-style: solid; border-width: .3vh;">
						<div class="col-2 modalClose" style="border-right-style: solid; border-right-width: .3vh; text-align: center; background-color: lightgray;"> X </div>
						<div class="col-10"> Save & Export</div>
					</div>
					<div class="row">
						<canvas id="saveCanvas" width="1000px" height="1400px" style="width: 100%; height: 100%;"></canvas>
					</div>
					<div class="row" style="font-size: 5vh; background-color: #83c5be; border-top-style: solid;" onclick="saveToGallery()">
						<div class="col-12" style="text-align: center;">
							Save To Gallery
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="position: absolute; top: 80vh; left: 0; height: 20vh; width: 100vw;">
			<div class="col-1"></div>
			<div id="pencilDiv" class="col-2">
				<img id="pencilIcon" src ="{% static 'coloring/images/pencil.png' %}" alt="pencil" class="icon" style="width: 100%;"></img>
				<!-- <div id="pencilIcon" class = "icon" style="background-image: url(./../static/coloring/images/pencil.png); background-size: 100% 100%;">Pencil</div> -->
			</div>
			<div id="markerDiv" class="col-2">
				<img id="markerIcon" src ="{% static 'coloring/images/marker.png' %}" alt="marker" class="icon" style=" width: 100%;"></img>
				<!-- <div id="markerIcon" class = "icon">Marker</div> -->
			</div>
			<div id="highlighterDiv" class="col-2">
				<img id="highlighterIcon" src ="{% static 'coloring/images/highlighter.png' %}" alt="highlighter" class="icon" style="width: 100%;"></img>
				<!-- <div id="highlighterIcon" class = "icon">Highlighter</div> -->
			</div>
			<div id="eraserDiv" class="col-2">
				<img id="eraserIcon" src ="{% static 'coloring/images/eraser.png' %}" alt="eraser" class="icon" style="width: 100%;"></img>
				<!-- <div id="eraserIcon" class = "icon">Eraser</div> -->
			</div>
			<div id="fillDiv" class="col-3">
				<img id="fillIcon" src ="{% static 'coloring/images/fill.png' %}" alt="fill" class="icon" style="width: 100%; height: 30vh;"></img>
				<!-- <div id="fillIcon" class = "icon">Fill</div> -->
			</div>
			<!-- <div class="col-1"></div> -->
		</div>
		
	</div>
	<script type="text/javascript">
			var currToolButton = pressPButton;
			function pressMButton() {
				marker.activate();
				$(".icon").css("padding-top", "5vh");
				$("#markerIcon").css("padding-top", "0vh");
				currToolButton = pressMButton;
			}
			function pressHButton() {
				highlighter.activate();
				$(".icon").css("padding-top", "5vh");
				$("#highlighterIcon").css("padding-top", "0vh");
				currToolButton = pressHButton;
			}
			function pressEButton() {
				eraser.activate();
				$(".icon").css("padding-top", "5vh");
				$("#eraserIcon").css("padding-top", "0vh");
				currToolButton = pressEButton;
			}
			function pressFButton() {
				fill.activate();
				$(".icon").css("padding-top", "5vh");
				$("#fillIcon").css("padding-top", "0vh");
				currToolButton = pressFButton;
			}
			function pressPButton() {
				pencil.activate();
				$(".icon").css("padding-top", "5vh");
				$("#pencilIcon").css("padding-top", "0vh");
				currToolButton = pressPButton;
			}
			$('body').on("click", "#pencilDiv", pressPButton);
			$('body').on("click", "#markerDiv", pressMButton);
			$('body').on("click", "#highlighterDiv", pressHButton);
			$('body').on("click", "#eraserDiv", pressEButton);
			$('body').on("click", "#fillDiv", pressFButton);

			
			var picToSave;
			function saveClick(){
				picToSave = getPicJSON();
				console.log(picToSave);
				saveScope.activate();
				with(paper) {
					project.activeLayer.removeChildren();
					project.importJSON(picToSave);
					// var g = new Group();
					// g.importJSON(picToSave);
				}
				$("#saveCanvas").css("width", "100%");
				$("#saveCanvas").css("height", "100%");
				nothing.activate();
			}

			//Base Modal code from W3school
			// Get the modal
			var modal = document.getElementById("myModal");

			// Get the button that opens the modal
			var btn = document.getElementById("saveButton");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("modalClose")[0];

			// When the user clicks on the button, open the modal
			btn.onclick = function() {
				saveClick();
				modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
				modal.style.display = "none";
				mainScope.activate();
				currToolButton();
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
			}

			function saveToGallery() {
				var savedPics = JSON.parse(localStorage.getItem("savedPics"));
				if (savedPics == null) {
					savedPics = [];
				}
				savedPics.push(picToSave);
				console.log(savedPics);
				localStorage.setItem("savedPics", JSON.stringify(savedPics));
				location.href = 'gallery'
			}
	</script>
</body>
</html>